:root {
  --main-color: #333;
  --main-bg-color: #ccc;
  --link-color: rgb(3, 102, 214);
  --code-color: #555;
  --code-bg-color: #aaa;
}

body {
    font-family: sans-serif;
    color: var(--main-color);
    background: var(--main-bg-color);
    transition: .5s background, .5s color;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-weight: medium;
}

a:visited {
    color: inherited;
}

nav > ul {
    margin: 0;
    padding: 0;
}

nav > ul li {
    display: inline;
    padding: 0 4pt;
}

nav > ul li > a {
    text-decoration: none;
}

main {
    padding-bottom: 2rem;
}

header {
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1rem;
    background: var(--main-bg-color);;
    border-top: 1px lightgray solid;
    opacity: .9;
    padding: .5rem 0;
    text-align: center;
}

pre > code {
    display: block;
    padding: 1rem 16pt;
    color: var(--code-color);;
    background: var(--code-bg-color);;
}

figcaption {
    font-size: 12px;
}

figcaption + pre {
    margin-top: 0.25rem;
}
